{
    "connection_config": {
        "database": "databasename",
        "username": "sa",
        "password": "password",
        "protocol": "tcp",
        "port": "1433",
        "hostname": "127.0.0.1"
    },

    "tables": {
        "table_names": {
            "Customers": {
                "in_menu": true,
                "selector_field": "ID",
                "table_fields": [
                    "field1": {
                        "label" : "somelabel",
                        "datatype" : "string",
                        "editable" : true,
                        "values" : {
                            "type": "enum",
                            "valuegroup1" : {"valkey1": "value1","valkey2": "value2"}
                        }
                    },
                    "field2": {
                        "label" : "somelabel2",
                        "datatype" : "integer",
                        "editable" : false,
                        "values" : {
                            "type": "table",
                            "table_name": "tablename"
                        }
                    },
                    "field3": {
                        "label" : "somelabel3",
                        "datatype" : "boolean",
                        "editable" : true,
                        "values": false
                    }
                ]
            }
        }
    }
}
