<form id="insertform" method="post" action="#">
    <input type="hidden" id="tableform" name="table" value="{{ table }}" />
    <input type="text" name="testinput" />
    <input type="submit" />
</form>